.white {
  background-color: white;
}

.black {
  background-color: black;
}

td {
  border: 1px solid red;
}

table {
  width: 1000px;
  height: 1000px;
}

table.inverted td.white {
  background-color: black;
}

table.inverted td.black {
  background-color: white;
}